
.card-list {
}

.card {
	padding: 1em;
}

.card-title {
}

.card-content {

}

.card-footer {
	font-size: 8pt;
}

.card-title a,.card-footer a {
	text-decoration: none;
	color: #343437;
}


.card-title a:hover,.card-footer a:hover {
	color: #949499;
}
