@font-face
{
font-family: siteFont;
src: url('/static/font/Junction-webfont.ttf'),
     url('/static/font/Junction-webfont.eot'); /* IE9 */
}

body {
    background-color: #fff;
    font-family: siteFont;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.card {
	padding: 1em;
}

h1, h2, h3, h4 {
    color:#14A1F0;
}

.card-title {
    color:#14A1F0;
}

.card-footer {
	font-size: 8pt;
}

.card-title a,.card-footer a {
	text-decoration: none;

}


.card-title a:hover,.card-footer a:hover {
	color: #51BAF5;
}

.article-title a,.article-footer a {
    text-decoration: none;
	color: #343437;
}


.article-title a:hover,.article-footer a:hover {
	color: #949499;
}

.blog-feed,.sidebar-about-text ul{
    margin-left: 0;
}

.sidebar-about-text{
    font-size: .7em;
}

.sidebar-footer-text {
    font-size: .9em;
}

.social-icon-small {
    height: 20px;
    width: 20px;
}


