{% extends "base.html" %}

{% block hero %}
<img src="http://placehold.it/1200x150">
{% endblock hero %}

{% block content %}
<div class='card-list'>
	<div class='row-fluid'>
        <div class='span12'>
            <div class='row-fluid'>
        		<div class='span5 card'>
        			<h3 class='card-title text-center'>
        				<a href="/about" >About Me</a>
        			</h3>
        			<p class='card-content'>
        			Ut quis mauris sed eros pulvinar consequat et id leo. Ut quis condimentum lectus. Donec mattis dui non tellus dapibus pellentesque. Maecenas aliquet ultricies nisl quis lacinia. Cras purus dolor, ultricies id laoreet ac, fringilla ut tellus.<br><br>
        			Mauris tincidunt fringilla purus facilisis consectetur. Nullam bibendum lectus quis sapien egestas bibendum. Aenean augue erat, lobortis non laoreet eget, tempus vitae dui. Curabitur vitae risus elit. Nunc blandit interdum interdum. Nulla ut nulla neque. Aenean convallis lobortis metus, ac tincidunt felis lobortis eu.
        			</p>
        		</div>
        
        		<div class='span5 card pull-right'>
        			<h3 class='card-title text-center'>
        				<a href='/blog'>Recent posts</a>
        			</h3>
        			<div class='card-content'>
        				{% if latest_post_list %}
        				<div class='blog-feed'>
        					<ul>
        						{% for post in latest_post_list %}
        						<li>
        						<div class='row '>
        							<div class="article-title">
        								<a href="/blog/{{ post.id }}/">{{ post.subject }}</a>
        							</div>
        							<div class='article-footer pull-left'>
        								<span>{{post.pub_date|date:"SHORT_DATE_FORMAT" }}</span>
        							</div>
        						</div>
        						</li>	
        						{% endfor %}
        					</ul>
        				</div>
        				{% else %}
        				<p>No post are available.</p>
        				{% endif %}
        			</div>
    		    </div>
            </div>
        </div>
	</div>

	<div class='row hidden'>
		

		<div class='span4 offset1 card'>
			<h3 class='card-title'>
				<a href='http://twitter.com/kielpedia' target='_blank'>@kielpedia</a>
			</h3>
			<ul class='card-content'>
				<li>first post </li>
				<li>first post </li>
				<li>first post </li>
				<li>first post </li>
			</ul>
		</div>
	</div>
</div>

{% endblock content %}
