{% extends "base.html" %}

{% block styles %}
	<link rel='stylesheet' type='text/css' href='/static/css/blog.css' />	
{% endblock styles %}
{% block hero %}
<img src="/static/img/cincy.png">
{% endblock hero %}
{% block content %}
<div class='blog row-fluid'>
	<div class='card span9 '>
		<div class="card-title">
			<h1>{{ post.subject }}</h1>
		</div>

		<div class="card-content">
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			
			{{ post.article|safe }}
		</div>
		<div class='comment'>
			<h4>Comments</h4>
			<ul class='card-list'>
				{% for comment in post.comment_set.all %}
					{% if not forloop.first %}
						<hr align='center' width='10%' size='1'>
					{% endif %}
					   <li >
					    	<div class='card'>
							   	<div class="card-title">
							   		<h5>{{comment.subject}}</h5>
							   	</div>
							   	<div class="card-content">
									{{comment.text|safe|escape}}
							   	</div>
							   	<div class='card-footer'>
							   		Posted 
							   		{% if comment.user %}
							   			By {{comment.user}}
							   		{% else %}
							   			Anonymously
							   		{% endif %}
							   	</div>
						   	</div>
					    </li>	
					    
				{% endfor %}
				<li>
					INSERT COMMENT HERE
				</li>
			</ul>
		</div>
	</div>
    <div class='span3'>
        <div class='well sidebar-nav'>
                        
        </div>
    </div>
</div>
{% endblock content %}