{% extends "blog/base.html" %}

{% block post-view %}
    <div class='card '>
        <div>
            <h1>{{ post.subject }}</h1>
        </div>

        <div class="card-content">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            {{ post.article|safe }}
        </div>
        <h4>Add New Comment</h4>

        <div class='row-fluid new-comment-form'>
            <form>
                <fieldset>
                    <input id="username" type="text" placeholder="Name..." class='input-xlarge'>
                    <textarea id="comment-text" rows="3" class='input-block-level' placeholder="Comment..."></textarea>
                    <button id="comment-submit" type="submit" class="btn pull-right">Submit</button>
                </fieldset>
            </form>
        </div>

        {% if post.comment_set %}
            <h4>Comments</h4>
        {% endif %}

        {% for comment in post.comment_set.all %}
            {% if not forloop.first %}
                <hr class='center-horizontal ' width='60%' size='1'>
            {% endif %}
            <div class='row-fluid'>
                <div class='span2'>
                    <img src='http://www.gravatar.com/avatar/279c4f0b92358d7969fd43cc341c4307.png' >
                </div>
                <div class='span10 '>
                    <div class="card-content">
                        <p>
                        {{ comment.text|safe|escape }}
                        </p>
                    </div>

                </div>
            </div>
            <div class='card-footer pull-right'>

                {% if comment.user_name %}
                    {{ comment.user_name }}
                {% endif %}
                on {{ comment.pub_date }}
            </div>
        {% endfor %}
    </div>
{% endblock post-view %}
{% block scripts %}
    <script type='text/javascript'>
        $(function () {
            $('#comment-submit').click(function () {
                var subject = $('#comment-subject').val();
                var text = $('#comment-text').val();
                var username = $('#username').val();

                var comment = {
                    subject:subject,
                    text:text,
                    user_name:username,
                    post: {{ post.id }}
                };

                $.ajax({
                    type:'POST',
                    url:'/blog/api/posts/{{ post.id }}/comments/',
                    dataType:'json',
                    contentType:'application/json',
                    data:JSON.stringify(comment),
                    success:function (data) {
                        location.reload(true);
                    }
                });


                return false;
            });
        });
    </script>
{% endblock scripts %}